.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdb742;
  background-color: #002476;
}

.app-footer h3 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}
