.header-container {
  height: 130px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #374fb2;
}

.header-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-nav {
  padding-bottom: 5px;
}

.app-nav a,
.header-container-user a {
  text-decoration: none;
  color: white;
}

.header-container-user {
  margin-top: 10px;
  align-self: end;
}

.app-nav a {
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px 25px;
}

.app-nav a:hover {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #002476;
}

.app-nav a.active {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #fdb742;
}

.app-nav a:first-child {
  margin-left: 0;
}

.app-header img {
  width: 230px;
  align-self: center;
}

.header-container-right-hello{
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.header-container-right-logout{
  cursor: pointer;
  padding: 8px 6px;
  margin-left: 10px;
  border: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #fdb742;
}

.header-container-right-logout:hover {
  color: white;
  background-color: #002476;
}