.login-form {
  display: flex;
  text-align: right;
  justify-content: end;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 5px;
}

.login-form input {
  padding: 6px;
  margin: 0 5px;
  border: none;
  border-radius: 0.2rem;
}

.login-form input:focus {
  background-color: #e6f5fe;
}

.login-form button {
  cursor: pointer;
  padding: 6px;
  border: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #fdb742;
}

.login-form button:hover {
  color: white;
  background-color: #002476;
}