.login-page {
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05rem;
  margin-top: 80px;
}

.login-page a {
  color: #131c3f;
  font-weight: 500;
  font-size: 1.1rem;
}

.login-page a:hover {
  color: #fdb742;
}
