.toy-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.toy-filter h2 {
  font-weight: 500;
  color: #131c3f;
}

.toy-filter-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.toy-filter-btn {
  padding: 7px;
  margin-left: 5px;
  border-radius: 0.2rem;
  font-weight: 400;
  color: white;
  background-color: #fdb742;
  white-space: nowrap;
}

.toy-filter-btn:hover {
  background-color: #002476;
}

.toy-filter-inputs select {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  padding: 6px;
  margin: 0 5px;
  border: 1px solid #3750b255;
  border-radius: 0.2rem;
  background-color: white;
  width: 200px;
}

.toy-filter-inputs-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 40px;
}

.toy-filter-inputs-checkboxes {
  /* width: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: left; */
}