.toy-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.toy-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 1px solid #3750b235;
    border-radius: 0.2rem;
    background-color: white;
}
