.user-edit {
  padding: 20px 30px;
  box-shadow: 0 0 5px 1px #3750b255;
  border-radius: 0.5rem;
  background-color: white;
  width: 100%;
  color: #131c3f;
}

.user-edit form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
}

.user-edit input {
  min-width: 250px;
}

.user-edit-btns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin-top: 30px;
}

.user-edit-btns button {
  align-self: end;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 1.1rem;
  font-weight: 400;
  border: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #fdb742;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.user-edit-btns button:hover {
  color: white;
  background-color: #002476;
}
